:root {
    --padding-spacing: 200px;
    --border-rad: 12px;
    --border-color: black;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

html{
    scroll-behavior: smooth;
}
h1 {
    display: flex;
    box-sizing: content-box;
    max-width: 350px;
    padding-left: 0px;
    background-color: #b6bfbc;
    border-radius: 10px;
    font-size: 48px;
}
/* setting the headers color and size */
header { 
    background-size: 100%;
    background-color: #788f9c;
    border: 5px solid rgb(90, 86, 86);
    min-height: 175px;
}
/* Controls all sections ( about-me, and work) */
section {
    background-color: #e9f4f0;
    color: rgb(22, 22, 22);
}
/* configure the footers underline on the links */
li a{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    text-decoration: none;
    border-radius: var(--border-rad);
}
li a:hover{
    margin: 0px;
    color: azure; 
}
li {
    list-style: none;
}

footer{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    background-color: rgb(209, 220, 231);
}
/* Controls the navagation setting in the header */
.header-nav{
    display: flex;
    justify-content: space-around;
    margin-left: 0px;
    padding-left: 0px;
    list-style: none;
    font-size: 32px;
}
/* Controls the individual items in the navagation bar */
.header-nav li{
    padding-top: 5px;
    margin-left: 10px;
}
.header-nav a {
    text-transform: uppercase;
    text-decoration: none;

}

.header-nav a:hover{
    margin: 0px;
    color: azure;
}

/* controls the h1 in the header (Marc Hamilton) */
.headertext{
    color: rgb(0, 0, 0); 
}
/* This only control the headers of each section, About-me, Work and Contact me */
.big-words {
    display: flex;
    writing-mode: sideways-rl;
    background-color: lightblue;
    border-radius: 2px;
    padding-left: 8px;
    padding-right: 8px;
    margin: 5px;
    border: 2px solid var(--border-color);
    align-items: center;
    font-size: 40px;
}

.about-me-p {
    display: flex;
    background-color: rgb(255, 255, 255);
    align-items: center;
    margin: 5px;
    padding: 10px;
    /* border: 4px solid var(--border-color); */
    font-size: 18px;
}

.work-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(252, 252, 252);
    /* border: 5px solid var(--border-color); */
    margin: 5px;
    padding-bottom: 5px;
}

.work-links a{
    text-decoration: none;
    color: rgb(25, 27, 29);

}

.work-links figure img{
    border: 5px solid #465550;
    max-width: 450px;
    min-height: 300px;
    margin: 5px;
    padding: 0px;
    border-radius: var(--border-rad)
}

.work-links figure img:hover{
    box-shadow: rgb(26, 61, 79) 0px 0px 10px;
}

.work-links figcaption{
    display: flex;
    justify-content: center;
}

.profile {
    border:3px solid #465550;
    max-width: 150px;
    float: left;
    margin-left: 10px;
}
.first-project {

}
@media only screen and (max-width: 480px) {
    .big-words{
        font-size: 24px;
    }
}

@media only screen and (max-width: 480px) {
    .work-links figure img{
        max-width: 300px;
        object-fit: cover;
    }
    .big-words{
        font-size: 24px;
    }
    .header-nav a{
        font-size: 18px;
    }
}
@media only screen and (max-width: 390px) {
    .work-links figure img{
        max-width: 275px;
        object-fit: cover;
    }
    .header-nav a{
        flex-direction: column;
    }
}